@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gap: 1rem;
  --text-color: rgb(216, 216, 216);
  --light-background-color: #ccc;
  --first-tile-color: yellow;
  --info-color: #30d33b;
  --warning-color: #fc2b2d;
}
body {
  padding: var(--gap);
  color: var(--text-color);
  background-color: #171717;
  font-family: 'Turret Road', cursive;
  font-size: var(--gap);
  letter-spacing: calc(0.1 * var(--gap));
}
h1, button, input, #message {
  margin-bottom: var(--gap);
}
button {
  height: calc(1.3 * var(--gap));
  padding: 0 var(--gap);
  cursor: pointer;
  font-family: 'Turret Road', cursive;
  font-weight: 700;
  font-size: var(--gap);
  letter-spacing: calc(0.1 * var(--gap));
  background-color: var(--light-background-color);
}
input {
  margin-left: calc(0.5 * var(--gap));
  width: calc(2 * var(--gap));
  height: calc(1.2 * var(--gap));
  font-family: 'Turret Road', cursive;
  font-size: calc(0.8 * var(--gap));
  text-align: center;
  background-color: var(--light-background-color);
}
#stock-buttons, #user-stock, #play-line {
  margin-bottom: var(--gap);
  border-bottom: 1px solid var(--text-color);
}
.tile {
  font-size: calc(6 * var(--gap));
}
#user-stock,
#play-line {
  display: flex;
  flex-wrap: wrap;
}
#user-stock .tile {
  cursor: pointer;
}
#user-stock .tile:hover {
  color: var(--first-tile-color);
}
.first-in-line {
  color: var(--first-tile-color);
}
.info {
  color: var(--info-color);
}
.warning {
  color: var(--warning-color);
}
.winner {
  font-size: calc(4 * var(--gap));
}
